* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #f5f5f5, #e6e6e6, #d9d9d9, #cccccc);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  background-color: #333;
  color: white;
  padding: 10px;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteTaskBtn {
  background-color: #dc3545;
}

li {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}

.deleteTaskBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

li:hover .deleteTaskBtn {
  opacity: 1;
}
.task:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #da1414;
}

#addTask {
  font-size: 16px;
  font-weight: bold;
  background-color: #ffd900;
  color: #222;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#addTask:hover {
  background-color: #ffea4f;
}

.task-container {
  width: 50%; /* задаємо максимальну ширину для контейнера */
  margin: 50px auto 50px; /* вирівнюємо контейнер по центру сторінки */
  display: flex;
  justify-content: center;
}

.task {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
}

/* Додаткові стилі для елементів списку на десктопах */
@media only screen and (min-width: 768px) {
  .taskList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .taskList li span {
    flex-grow: 1;
  }

  .deleteTaskBtn {
    margin-left: 10px;
  }
  ul {
    width: 80%;
    margin: 0 auto;
  }
  
}

/* Правила для мобільних пристроїв */
@media only screen and (max-width: 767px) {
  /* Змінюємо стиль для h1 на мобільних пристроях */
  h1 {
    font-size: 24px;
    text-align: center;
  }
  
  /* Змінюємо стиль для кнопок на мобільних пристроях */
  button {
    font-size: 14px;
    padding: 8px;
  }
  
  /* Змінюємо ширину завдань на мобільних пристроях */
  li {
    width: 100%;
  }
  
  /* Змінюємо розмір шрифту для завдань на мобільних пристроях */
  li span {
    font-size: 18px;
  }
  
  /* Змінюємо стиль для кнопок видалення завдань на мобільних пристроях */
  .deleteTaskBtn {
    font-size: 14px;
    padding: 8px;
  }
}

/* Правила для планшетів */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Змінюємо стиль для h1 на планшетах */
  h1 {
    font-size: 36px;
    text-align: center;
  }
  
  /* Змінюємо стиль для кнопок на планшетах */
  button {
    font-size: 16px;
    padding: 10px;
  }
  
  /* Змінюємо ширину завдань на планшетах */
  li {
    width: 50%;
  }
  
  /* Змінюємо розмір шрифту для завдань на планшетах */
  li span {
    font-size: 20px;
  }
  
  /* Змінюємо стиль для кнопок видалення завдань на планшетах */
  .deleteTaskBtn {
    font-size: 16px;
    padding: 10px;
  }
}